@import "default.scss";

.gradient-bg {
    background: linear-gradient(180.00deg, rgb(150, 108, 255) -16.533%, rgba(246, 189, 255, 0) 100%);
}

.header {
    padding-top: 36px;


    .header__container {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .header__logo {
            position: relative;
            z-index: 20;
            max-width: 120px;
            width: 100%;
        }

        .header__menu {
            display: flex;
            margin: 0 auto;

            .header__menu-list {
                display: flex;
                gap: 60px;
            }
        }

        .header__btn {
            border: 2px dashed rgb(22, 22, 22);
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            max-width: 185px;
            width: 100%;
            height: 57px;
        }

        // ----- MOBILE MENU -----
        .header__burgerIcon {
            width: 40px;
            height: 40px;
            position: relative;
            cursor: pointer;

        }

        .menuText {
            display: none;
            font-size: 16px;
            font-family: "Furore";
            position: absolute;
            top: 50%;
            right: 20%;
            transform: translate(0%, -50%);
            transition: opacity 0.5s;
            z-index: 1;
            box-sizing: border-box;
            border: 2px dashed rgb(22, 22, 22);
            border-radius: 5px;
            padding: 10px 16px;
        }

        .header__burgerIcon.active .menuText {
            opacity: 0;
        }

        .menuIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            visibility: hidden;
            border-radius: 11px;

            padding: 10px 10px;
            display: none;
        }

        .header__burgerIcon.active .menuIcon {
            visibility: visible;
        }

        // -----end mobile menu-----
    }
}


// \ ----- main ----- /
.main {

    margin-top: 10%;

    .main__container {

        display: flex;
        flex-direction: column;

        img {
            position: absolute;
            right: 0;
            top: 0;
            width: 71vw;
            transform: translate(0%, -30%);
            max-width: 1027px;
            height: auto;
        }

        .main__title {
            margin-bottom: 50px;
            z-index: 1;
        }

        .main__slogan {
            @extend %gilroy-m20;
            margin-bottom: 30px;
            z-index: 1;
            width: 33%;
        }

        .main__btn {
            @extend %blackBtn;
            margin-bottom: 80px;
        }

        .main__list {
            gap: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .main__list-item {
                border-top: 2px solid rgb(19, 19, 19);
                padding-top: 16px;
            }
        }
    }
}


// \ ----- community ----- /
.community {
    margin-top: 12%;

    .community__container {
        position: relative;

        .community__img {
            position: absolute;
            right: 0;
            bottom: 0px;
            width: 51vw;
            transform: translate(0%, 20%);
            max-width: 731px;
            height: auto;
        }

        .community__presents {
            display: flex;
            justify-content: space-between;
            align-items: normal;
            margin-bottom: 80px;

            .community__presents-desk {
                .community__title {
                    width: 85%;
                    margin-bottom: 40px;

                    span {
                        color: $textPurple;
                    }
                }

                .community__text {
                    @extend %gilroy-b20;
                    width: 52%;

                    span {
                        color: $textPurple;
                    }
                }
            }

            .community__presents-img {
                aspect-ratio: 1 / 1;
                display: flex;
                justify-content: center;
                align-items: start;
                text-align: center;
                max-width: 432px;
                width: 50vw;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        .community__list {
            ol {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                list-style: none;
                counter-reset: my-counter;

                .community__list-item {
                    z-index: 1;
                    counter-increment: my-counter;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 0 80px 80px 0;
                    @extend %furore-r20;


                    &::before {
                        @extend %furore-r20;
                        font-size: 22px;
                        color: $textWhite;
                        content: "0" counter(my-counter);
                        line-height: 1;
                        border-radius: 6px;
                        background: rgb(128, 77, 255);
                        width: 60px;
                        height: 60px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    span {
                        @extend %gilroy-m20;
                    }
                }

                .community__list-item:nth-child(3n+2) {
                    border-right: 2px dashed rgb(34, 34, 34);
                    border-left: 2px dashed rgb(34, 34, 34);
                    padding: 0 80px;
                }

                .community__list-item:nth-child(3n) {
                    padding: 0 0 80px 80px;
                }
            }
        }
    }
}

.courses {
    margin-top: 100px;

    .courses__container {
        padding: 0 0px 160px 130px;
        border-radius: 40px;
        background: rgb(17, 17, 17);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .courses__title {
            margin-top: 100px;
            text-align: center;
            color: $textWhite;
            margin-bottom: 60px;
        }

        .courses__slogan {
            @extend %gilroy-b20;
            color: $textWhite;
            text-align: center;
            margin-bottom: 80px;
            width: 35%;
        }
    }

    .splide {
        width: 100%;

        .splide__slide {

            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 340px;

            .courses__slide-img {
                position: relative;
                aspect-ratio: 1 / 1;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                max-width: 340px;


                .courses__slide-die {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    border-radius: 6px;
                    background: rgb(128, 77, 255);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .courses__num {
                        @extend %furore-r20;
                        font-size: 27px;
                        line-height: 31px;
                        color: $textWhite;
                    }

                    .courses__text {
                        @extend %furore-r20;
                        font-size: 10px;
                        line-height: 12px;
                        color: $textWhite;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .courses__slide-name {
                @extend %gilroy-b16;
            }

            .courses__slide-subtitle {
                @extend %furore-r32;
                color: $textWhite;
            }

            .courses__slide__btn {
                @extend %whiteBtn;
                font-size: 14px;
                line-height: 16px;
            }
        }

        .splide__arrow--prev {
            background-image: url("../images/arrow-left.svg");
            left: 0px;
            transform: translate(-180%, 100%);
            top: 20%;
        }

        .splide__arrow--next {
            background-image: url("../images/arrow-right.svg");
            top: 20%;
            right: 0px;
            transform: translate(-80%, 100%);
        }

        .my-carousel-progress {
            background: rgb(48, 48, 48, 0.2);
            width: 102%;
            position: absolute;
            transform: translate(-6%, 80px);
            bottom: 0;
        }

        .my-carousel-progress-bar {
            background-image: linear-gradient(to right, rgb(142, 142, 142), rgb(142, 142, 142));
            height: 2px;
            transition: width 400ms ease;
            width: 0;

        }
    }
}

// ------ABOUTCOURSE

.aboutCourse {
    margin-top: 78px;

    .aboutCourse__container {
        padding: 0 120px;
        display: flex;
        justify-content: space-between;

        .aboutCourse__bgImg {
            position: absolute;
            right: 10%;
            bottom: 40%;

            transform: translate(0%, 50%);
            width: 784px;
            height: auto;
        }

        .aboutCourse__content {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .aboutCourse__caption {
                @extend %gilroy-b16;
                margin-bottom: 20px;
            }

            .aboutCourse__title {
                margin-bottom: 30px;
            }

            .aboutCourse__text {
                @extend %gilroy-m20;
                width: 72%;
            }
        }

        .aboutCourse__img {
            aspect-ratio: 0.89 / 1;
            max-width: 517px;
            width: 36vw;
            height: 580px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            z-index: 1;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}

// ------PROGRAM
.program {
    margin-top: 100px;
    border-radius: 40px;
    background: linear-gradient(180.00deg, rgb(150, 108, 255) -16.533%, rgba(246, 189, 255, 0) 100%);

    .program__container {
        .program__title {
            margin-top: 80px;
        }
    }

    .program__list {
        margin-top: 60px;

        .program__list-item {
            display: flex;
            align-items: center;
            gap: 30px;
            border-top: 2px dashed rgba(34, 34, 34, 0.28);
            padding: 30px 0;

            &:first-child {
                border-top: none;
            }

            span {
                @extend %furore-r20;
                font-size: 22px;
                color: rgb(255, 255, 255);
                border-radius: 6px;
                background: rgb(34, 34, 34);
                padding: 15px 20px;
                width: 60px;
                height: 60px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p {
                @extend %gilroy-b24;
                line-height: 24px;
            }
        }
    }
}

// ------SECONDSLIDER
.secondSlider {
    margin-top: 30px;

    .secondSlider__container {
        padding: 100px 0 100px 131px;

        .secondSlider__title {
            margin-bottom: 80px;
            text-align: center;
        }
    }

    .secondSlider__slider {

        .splide__list {
            .secondSlider__slide-item {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .secondSlider__slide-img {

                    position: relative;
                    aspect-ratio: 1 / 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    max-width: 340px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .secondSlider__text {
                    .secondSlider__subtitle {
                        margin-bottom: 20px;
                        @extend %furore-r32;
                    }

                    .secondSlider__desc {
                        @extend %gilroy-m20;
                    }
                }
            }
        }


    }

    .splide__arrow--prev {
        background-image: url("../images/arrow-left.svg");
        left: 0px;
        transform: translate(-180%, 100%);
        top: 20%;

    }

    .splide__arrow--next {
        background-image: url("../images/arrow-right.svg");
        top: 20%;
        right: 0px;
        transform: translate(-80%, 100%);

    }

    .my-carousel-progress {
        background: rgb(48, 48, 48, 0.2);
        width: 102%;
        position: absolute;
        transform: translate(-6%, 80px);
        bottom: 0;
    }

    .my-carousel-progress-bar {
        background-image: linear-gradient(to right, rgb(142, 142, 142), rgb(142, 142, 142));
        height: 2px;
        transition: width 400ms ease;
        width: 0;

    }
}

// ------STEPS
.steps {
    margin-top: 100px;

    .steps__container {
        .steps__title {
            margin-bottom: 47px;
        }

        .steps__btn {
            @extend %blackBtn;
            margin: 0 auto;
        }
    }

    .steps__flex-container {
        margin-bottom: 60px;
        display: flex;
        gap: 12px;
        flex-direction: row;
        flex-wrap: wrap;


        .steps__item {
            display: flex;
            flex-direction: column;
            gap: 97px;
            flex: 1 0 254px;
            height: 247px;
            border-radius: 30px;
            padding: 30px;



            p {
                font-size: 18px;
                color: rgb(150, 108, 255);
            }

            span {
                @extend %furore-r20;
            }

            &:nth-child(odd) {
                background: linear-gradient(180.00deg, rgb(217, 198, 255), rgba(245, 244, 247, 0) 100%);
            }

            &:nth-child(even) {
                background: linear-gradient(180.00deg, rgba(245, 244, 247, 0), rgb(245, 244, 247) 100%);
            }


        }
    }
}

// ------TARIF
.tarif {
    margin-top: 100px;
    background-image: url('../images/tarif-bg.png');
    border-radius: 40px;

    .tarif__container {
        .tarif__title {
            margin-top: 100px;
            color: $textWhite;
            text-align: center;
        }

        .tarif__btn {
            @extend %whiteBtn;
            margin-bottom: 80px;
            max-width: 321px;
        }
    }

    .tarif__elems {
        margin-bottom: 60px;
        display: flex;
        gap: 30px;
        margin-top: 80px;

        .tarif__card-container {
            .tarif__price {
                margin-top: 20px;
                border-radius: 20px;
                background: rgb(128, 77, 255);
                @extend %gilroy-b20;
                font-size: 22px;
                color: $textWhite;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 17px 0;
                width: 100%;


                .tarif__price-info {
                    border-radius: 20px;
                    background: rgb(26, 26, 26);
                    @extend %gilroy-b20;
                    font-size: 17px;
                    color: $textWhite;
                    width: 100%;
                    padding: 15px 15px;
                }
            }
        }

        .tarif__card {
            border: 2px dashed rgb(83, 83, 83);
            border-radius: 40px;
            padding: 40px 36px;

            .tarif__heading {
                @extend %furore-r32;
                margin-bottom: 160px;

                span {
                    color: #804dff;
                }
            }

            .tarif__list {
                display: flex;
                flex-direction: column;
                gap: 14px;

                li {
                    @extend %gilroy-sb20;
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    span {
                        content: url("../images/tarif-icon.svg");
                    }
                }
            }

            &_black {
                background: rgb(26, 26, 26);

                .tarif__heading {
                    color: $textWhite;
                }

                .tarif__list {
                    li {
                        color: rgb(83, 83, 83);

                        &:first-child {
                            color: $textWhite;
                        }
                    }
                }
            }

            &_white {
                background: rgb(255, 255, 255);

                .tarif__heading {
                    color: $textBlack;
                }

                .tarif__list {
                    li {
                        color: $textBlack;
                    }
                }
            }

            &_purple {
                background: rgb(128, 77, 255);

                .tarif__heading {
                    color: $textWhite;

                    span {
                        color: #1A1A1A;
                    }
                }

                .tarif__list {
                    li {
                        color: $textBlack;

                        span {}
                    }

                }
            }
        }
    }
}

.qa {
    margin-top: 120px;
    .qa__container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .qa__title{
            margin-bottom: 60px;
        }
        
    }

    .accordion {
        cursor: pointer;
        border-bottom: 2px dashed rgba(34, 34, 34, 0.28);
        padding: 30px 0;

        
    }

    .accordion-header {
        border: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        cursor: pointer;

        li {
            display: flex;
            align-items: center;
            gap: 30px;          

            p {
                @extend %gilroy-b24;
            }

            span {
                @extend %furore-r20;
                font-size: 22px;
                color: rgb(255, 255, 255);
                border-radius: 6px;
                background: rgb(34, 34, 34);
                padding: 15px 20px;
                width: 60px;
                height: 60px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .accordion-header span {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .accordion-body {
        color: #444;
        font-size: 14px;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity .3s
    }

    .accordion-body.active {
        height: 100%;
        opacity: 1;
        padding: 20px 20px 30px 92px;

        p {
            @extend %gilroy-m20;
        }
    }


    .arrow {
        transition: transform .2s linear;
    }

    .accordion:has(.active) .arrow {
        transform: rotate(180deg);
    }
}

.footer{
    border-radius: 40px 40px 0 0;
    margin-top: 120px;
    background: rgb(17, 17, 17);

    .footer__container {
        padding: 80px 40px 42px;
        display: flex;

        .footer__label{
            display: flex;
            flex-direction: column;
            .footer__banking{
                width: 93px;
                height: 22px
            }
            span {
                @extend %gilroy-m20;
                color: $textWhite;
            }
        }

        .footer__nav {
            display: grid;
           
        }
    }
}


// ----- @MEDIA -----

@media (max-width: 1200px) {
    .aboutCourse {
        .aboutCourse__container {

            .aboutCourse__img {
                width: 51vw;
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        .header__container {
            .header__btn {
                max-width: 150px;
            }

            .header__menu {
                .header__menu-list {
                    gap: 40px;
                }
            }
        }
    }

    .main {
        .main__container {

            img {
                width: 100vw;
            }

            .main__title {
                line-height: 80px;
            }

            .main__slogan {
                width: 45%;
            }
        }
    }

    .community {
        .community__container {
            .community__presents {

                .community__presents-desk {
                    .community__title {
                        width: 100%;
                        line-height: 53px;
                    }

                    .community__text {
                        width: 72%;

                    }
                }
            }

            .community__list {
                ol {
                    .community__list-item {
                        padding: 0 40px 40px 0;

                        &:nth-child(3n+2) {
                            padding: 0 40px;
                        }

                        &:nth-child(3n) {
                            padding: 0 0 40px 40px;
                        }
                    }
                }
            }
        }
    }

    .aboutCourse {
        .aboutCourse__container {
            padding: 0 60px;

            .aboutCourse__content {

                .aboutCourse__title {
                    line-height: 53px;
                }

                .aboutCourse__text {
                    position: relative;
                    z-index: 1;
                    width: 95%;
                }
            }

            .aboutCourse__img {
                width: 51vw;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (max-width: 900px) {
    .header {
        .header__container {
            .header__btn {
                max-width: 120px;
            }

            .header__menu {
                .header__menu-list {
                    gap: 30px;
                }
            }
        }
    }

    .main {
        .main__container {
            .main__title {
                line-height: 80px;
            }

            .main__slogan {
                width: 50%;
            }
        }
    }
}

@media (max-width: 768px) {

    .header {
        padding-top: 20px;
        z-index: 10;

        .header__container {
            padding: 0 20px;

            .header__logo {}

            .header__menu-mobile {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                transform: translateX(-100%);
                transition: transform 0.5s;
                z-index: 10;

                &.active {
                    transform: translateX(0);
                }

                .header__menu-list {
                    display: none;
                    position: relative;
                    background: rgb(255, 255, 255);
                    display: flex;
                    flex-direction: column;
                    text-align: right;
                    height: 100vh;
                    width: 100%;
                    justify-content: start;
                    gap: 10px;
                    padding: 30px 20px;

                    .header__menu-item {
                        &:first-child {
                            border-top: 2px dashed rgb(22, 22, 22);
                            margin-top: 53px;
                            padding-top: 30px;
                        }

                        .header__menu-link {
                            font-size: 38px;
                            line-height: 44px;
                        }
                    }
                }
            }

            .header__burgerIcon {
                right: 0;
                top: 0;
                z-index: 12;

                .menuText {
                    display: flex;
                }

                .menuIcon {
                    display: flex;
                }
            }

            .header__btn {
                display: none;
            }


        }
    }

    .main {
        margin-top: 35%;

        .main__container {
            padding: 0 20px;

            img {
                max-width: 591px;
                width: 76vw;
                transform: translate(0%, -73%);
            }

            .main__title {
                line-height: 58px;
                margin-bottom: 26px;
            }

            .main__slogan {
                line-height: 21px;
                width: 55%;
                margin-bottom: 26px;
            }

            .main__btn {
                margin-bottom: 60px;
            }

            .main__list {
                gap: 0;
                grid-template-columns: 1fr 1fr;

                .main__list-item {
                    line-height: 22px;
                    padding-top: 20px;

                    &:nth-child(-n+2) {
                        border-top: none;
                        padding-top: 0px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }

    .community {
        .community__container {
            padding: 0 20px;

            .community__img {
                display: none;
            }

            .community__presents {

                margin-bottom: 40px;

                .community__presents-desk {
                    .community__title {
                        line-height: 45px;
                        margin-bottom: 30px;
                        width: 100%;
                    }

                    .community__text {
                        margin-bottom: 40px;
                        line-height: 22px;
                        width: 100%;
                    }
                }

                .community__presents-img {}
            }

            .community__list {
                ol {
                    grid-template-columns: 1fr;

                    .community__list-item {
                        padding: 30px 0;

                        &::before {
                            font-size: 18px;
                            width: 40px;
                            height: 40px;
                        }

                        &:nth-child(3n+2) {
                            border-right: none;
                            border-left: none;
                            padding: 30px 0;
                        }

                        &:nth-child(3n) {
                            padding: 30px 0;
                        }

                        &:nth-last-child(n+2) {
                            border-bottom: 2px dashed rgb(34, 34, 34);
                        }
                    }
                }
            }
        }
    }

    .courses {
        .courses__container {
            z-index: 1;
            padding: 0 0 100px 20px;
            border-radius: 20px;

            .courses__title {
                margin: 60px 0 30px 0;
                line-height: 66px;
            }

            .courses__slogan {
                margin-bottom: 40px;
                line-height: 24px;
                width: 75%;
            }

            .courses__slide-item {
                max-width: 270px;

                .courses__slide-img {
                    max-width: 270px;
                    width: 72vw;

                    .courses__slide-die {
                        width: 46px;
                        height: 46px;
                        top: 24px;
                        right: 24px;
                        border-radius: 4px;

                        .courses__num {
                            font-size: 21px;
                            line-height: 25px;
                        }

                        .courses__text {
                            font-size: 8px;
                            line-height: 9px;
                        }
                    }
                }

                .courses__slide-name {
                    font-size: 14px;
                }

                .courses__slide-subtitle {
                    line-height: 34px;
                }

                .courses__slide__btn {
                    font-size: 16px;
                    height: 44px;
                }
            }

            .splide__arrow--prev {
                top: 30%;
                left: 4%;
                transform: translate(-50%, -50%);
            }

            .splide__arrow--next {
                top: 30%;
                right: 10%;
                transform: translate(50%, -50%);
            }

            .my-carousel-progress {
                width: 95%;
                transform: translate(0%, 60px);
                bottom: 0;
            }

            .courses__slide__progress {
                bottom: 42px;
            }
        }
    }

    .aboutCourse {
        margin-top: 80px;

        .aboutCourse__container {
            padding: 0 20px;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;

            .aboutCourse__bgImg {
                right: inherit;
                left: 50%;
                bottom: inherit;
                top: 5%;
                transform: translate(-50%, -50%);

            }

            .aboutCourse__content {
                text-align: center;
                align-items: center;

                .aboutCourse__caption {}

                .aboutCourse__title {}

                .aboutCourse__text {

                    width: 72%;
                }
            }

            .aboutCourse__img {
                width: 66vw;
                height: auto;
                margin-bottom: 30px;

            }
        }
    }

    .program {
        .program__container {
            padding: 0 20px;

            .program__title {
                line-height: 46px;
                margin-top: 60px;
            }
        }

        .program__list {
            margin-top: 30px;

            .program__list-item {
                flex-direction: column;
                align-items: start;

                span {
                    font-size: 18px;
                    width: 40px;
                    height: 40px;
                    padding: 5px 11px;
                }

                p {}
            }
        }
    }

    .secondSlider {
        margin-top: 60px;

        .secondSlider__container {
            padding: 0 20px;

            .secondSlider__title {
                line-height: 46px;
                margin-top: 40px;
                width: 90%;
                text-align: start;
            }
        }

        .secondSlider__slider {

            .splide__list {
                .secondSlider__slide-item {
                    max-width: 270px;
                    gap: 20px;

                    .secondSlider__slide-img {
                        max-width: 270px;
                        width: 72vw;
                    }

                    .secondSlider__text {
                        .secondSlider__subtitle {
                            margin-bottom: 20px;

                        }

                        .secondSlider__desc {}
                    }
                }
            }

            .splide__arrow--prev {
                top: 30%;
                left: 4%;
                transform: translate(-50%, -50%);
            }

            .splide__arrow--next {
                top: 30%;
                right: 10%;
                transform: translate(50%, -50%);
            }

            .my-carousel-progress {
                width: 95%;
                transform: translate(0%, 60px);
                bottom: 0;
            }

            .courses__slide__progress {
                bottom: 42px;
            }
        }
    }

    .steps {
        .steps__container {
            padding: 0 20px;

            .steps__title {
                margin-bottom: 40px;
                font-size: 40px;
                line-height: 46px;
            }

            .steps__btn {
                display: none;
            }
        }

        .steps__flex-container {
            margin-bottom: 60px;
            display: flex;
            gap: 12px;
            flex-direction: row;
            flex-wrap: wrap;


            .steps__item {
                display: flex;
                flex-direction: column;
                gap: 60px;
                flex: 1 0 254px;
                height: 247px;
                border-radius: 19px;
                padding: 20px;
                background: linear-gradient(180.00deg, rgba(245, 244, 247, 0), rgb(245, 244, 247) 100%);


                p {
                    font-size: 14px;
                    line-height: 16px;
                }

                span {
                    color: rgb(34, 34, 34);
                    font-family: "Gilroy Semibold";
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 22px;
                }

                &:nth-child(odd) {
                    background: none;
                }

                &:nth-child(even) {
                    background: none;
                }

                &:nth-child(4n+1),
                &:nth-child(4n) {
                    background: linear-gradient(180.00deg, rgb(217, 198, 255), rgba(245, 244, 247, 0) 100%);
                }
            }
        }
    }

    .tarif {
        border-radius: 20px;
        margin-top: 60px;

        .tarif__container {
            padding: 0 20px;

            .tarif__title {}
        }

        .tarif__card-container {
            .tarif__card {
                padding: 30px;

                .tarif__heading {
                    margin-bottom: 115px;
                }
            }

            .tarif__price {
                padding: 13px 0;
                border-radius: 15px;
                font-size: 18px;

                .tarif__price-info {
                    border-radius: 15px;
                }
            }
        }

        .tarif__elems {
            margin-bottom: 40px;
            margin-top: 40px;
            flex-direction: column;
        }
    }

    .qa {
        margin-top: 80px; 

        .qa__container {
            padding: 0 20px;
            .qa__title {
                margin-bottom: 20px;
                font-size: 40px;
                line-height: 46px;
            }
        }

        .accordion-header {
            li{
                align-items: start;
                gap: 20px;
                flex-direction: column;
                span{
                    width: 40px;
                    height: 40px;
                    font-size: 18px;
                }

                p {
                    text-align: start;
                    line-height: 24px;
                }
            }
        }
    }
}




@media (max-width: 480px) {
    .main {
        margin-top: 55%;

        .main__container {
            img {
                width: 123vw;
            }

            .main__title {
                line-height: 48px;
            }

            .main__slogan {
                width: 90%;
            }
        }
    }

    .community {
        .community__container {
            .community__presents {
                flex-direction: column;

                .community__presents-desk {
                    .community__title {
                        line-height: 35px;
                    }

                    .community__text {
                        line-height: 22px;

                    }
                }

                .community__presents-img {
                    max-width: 335px;
                    width: 90vw;
                }
            }
        }
    }

    .courses {
        .courses__container {

            .courses__title {
                line-height: 46px;
            }

            .courses__slogan {
                line-height: 22px;
            }

            .courses__slider {
                .courses__slide-item {
                    .courses__slide-img {}

                    .courses__slide-name {}

                    .courses__slide-subtitle {
                        line-height: 32px;
                    }
                }
            }
        }
    }

    .aboutCourse {
        .aboutCourse__container {
            .aboutCourse__content {
                text-align: left;
                align-items: start;

                .aboutCourse__title {
                    line-height: 46px;
                }

                .aboutCourse__text {
                    width: 95%;
                }
            }

            .aboutCourse__img {
                max-width: 335px;
                width: 89vw;
                height: auto;
                margin-bottom: 30px;

            }
        }
    }

    .secondSlider {
        .secondSlider__container {
            .secondSlider__title {
                font-size: 40px;
                line-height: 46px;
            }
        }
    }

    .steps {
        .steps__container {

            .steps__title {
                font-size: 40px;
                line-height: 46px;
            }
        }

        .steps__flex-container {

            .steps__item {
                flex: 1 0 162px;
                height: 160px;
            }
        }
    }
}